<?xml version="1.0" ?>
<robot name="activeroboticx_mecanum" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

    <gazebo reference="wheel_fr">
		<mu1 value="1.0"/>
		<mu2 value="1.0"/>
		<kp value="10000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="wheel_fl">
		<mu1 value="1.0"/>
		<mu2 value="1.0"/>
		<kp value="10000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="wheel_br">
		<mu1 value="1.0"/>
		<mu2 value="1.0"/>
		<kp value="10000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="wheel_bl">
		<mu1 value="1.0"/>
		<mu2 value="1.0"/>
		<kp value="10000000.0" />
		<kd value="1.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>


</robot>
